
react	#Core UI framework
axios	#Fetch data from backend API
tailwindcss	#Styling framework
recharts	#Display knowledge graphs/charts
d3	#Create custom knowledge graphs
react-router-dom	#Handle page navigation

pyvis	 #Interactive graph visualization

# # install tailwindcss 
# npm install -D tailwindcss@3
# npx tailwindcss init

# # create tailwind.config.js file
# /** @type {import('tailwindcss').Config} */
# export default {
#    content: ["./src/**/*.{html,js,jsx,ts,tsx}"],
#    theme: {
#      extend: {},
#    },
#    plugins: [],
#  }

# # create input.css file
# @tailwind base;
# @tailwind components;
# @tailwind utilities;

# # start the tailwindcss server
# npx tailwindcss -i ./src/input.css -o ./src/output.css --watch
